.grid__card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.card__link {
    position: relative;
    height: 70%;
}

.card__link:hover .card__image {
    filter: brightness(0.6) blur(1px);
}

.card__image {
    object-fit: cover;
    border-radius: 3px;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: 100%;
    background-color: var(--darkColor1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card__overlay {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px 8px;
    padding: 3px 6px;
    font-size: 0.5rem;
    text-transform: uppercase;
    color: var(--darkColor1);
    background-color: var(--lightColor1);
    border-radius: 5px;
}

.card__link:hover .card__overlay {
    visibility: visible;
  }