.gallery__grid {
    position: relative;
}

.grid__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto; 
    gap: 16px; 
    width: 100%;
}

@media (max-width: 900px) {

    .grid__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .grid__content {
      grid-template-columns: 1fr;
    }
}