.result {
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:  space-between;
    align-items: center;
    row-gap: 10vh;
    
}

.result__heading {
    font-family: var(--font2);
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--grayColor1);
}

.result__subheading {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--grayColor1);
}

.result__alternative {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto; 
    gap: 16px; 
    width: 100%;
}

@media (max-width: 900px) {

    .result__alternative {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 600px) {

    .result__alternative {
      grid-template-columns: 1fr;
    }

}