.search {
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: var(--darkColor1);
    padding: 12px 0;
    width: 100%;
}

.search__content {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
    align-items: last baseline;
}

.search__suggestion {
    padding: 16px 6px;
    display: flex;
    column-gap: 32px;
}

.suggestion__title {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.suggestion__tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
}