.search {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--darkColor1);
    padding: 12px 0;
}

.search__content {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
    align-items: center;
    align-items: last baseline;
}

.suggestion__tags {
    width: 100%;
    padding: 4px 0;
    display: flex;
    column-gap: 8px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.suggestion__tags::-webkit-scrollbar {
    display: none; 
}