.tags {
    padding: 3px 6px;
    color: var(--darkColor1);
    background-color: var(--grayColor1);
    border-radius: 5px;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: capitalize;
    border: none;
    cursor: grab;
    user-select: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.tags:hover {
    transform: scale(1.05);
}

.search__label {
    outline: none;
}