.skeleton__tag {
    width: 60px;   
    height: 1.5rem;
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 1) 100%);
    background-repeat: no-repeat;
    background-size: 800px 200px;
    animation-name: shimmer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: shimmer;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}