.card__caption {
    margin: 16px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
    row-gap: 5px;
}

.card__project {
    font-family: var(--font1);
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--lightColor2);
    line-height: 1.1;
}

.card__category {
    font-family: var(--font2);
    font-weight: bold;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: var(--grayColor1);
    line-height: 1.1;
}