.grid__card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.card {
    position: relative;
    height: 70%;
}

.card:hover .card__image {
    filter: brightness(1.2);
    transform: scale(1.02);
}

.card__image {
    object-fit: cover;
    border-radius: 3px;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: 100%;
    background-color: var(--darkColor1);
    transition: transform 0.3s ease, filter 0.3s ease;
}


.card__info {
    display: flex;
    justify-content: space-between;
}